body{
    background-image: url(../assets/imagens/fundo-site.jpg);
    background-size: cover;
}
/*header*/
.header {
    backdrop-filter: brightness(60%);
    background-color: none;
    border-bottom: 2px solid #98413C;
    margin: 0;
    height: 50px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;

}

.header .container {
    justify-content: space-between;
}

.nome {
    color: #18B8FD;
    font-family: fantasy;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}



.container a{
    text-decoration: none;
}

.navegacao {
    display: flex;
    width: 150px;
    align-items: center;
    list-style: none;

    text-decoration: none;
    justify-content: space-between;
}

.navegacao li,
.navegacao a {
    color: #18B8FD;
    font-family: fantasy;
}

.janela{
    display: flex;
    flex-direction: column;
}

#paragrafo{
    display: flex;
    flex-direction: column;
    color: #e3b062;
    align-items: center;
    font-size: 20px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0;
}

.hello {
    display: flex;
    flex-direction: column;
    height: 50px;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 0px;
}


.grafico{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 5px;
    width: 920px;
    height: 450px;
    margin-left: 190px;
    border-radius: 10px;
    list-style: none;
    background-color: rgba(173, 216, 230, 0.842);
}

