body {
    margin: 0;
    padding: 0;
    background-color: #291a30;
    

}

/*header*/
.header {
    backdrop-filter: brightness(60%);
    border-bottom: 2px solid #98413C;
    margin: 0;
    height: 50px;
    
}

.container {
    display: flex;
    width: 80%;
    margin: auto;

}

.header .container {
    justify-content: space-between;
}

.nome {
    color: #18B8FD;
    font-family: fantasy;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}


.navegacao {
    display: flex;
    width: 300px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    list-style: none;
}

.navegacao li,
.navegacao a {
    color: #18B8FD;
    font-family: fantasy;
}


/* fundo */
.fundo  {
    height: 730px;
    background-image: url(../assets/imagens/home.jpg);
    background-size: 100%;
}


.caixas {
    margin-top: 250px;
    margin-right: 51px;
    color: #18B8FD;
    font-family: monospace;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}


.caixa1 {
    display: flex;
    flex-direction: row;
    margin-left: 80px;
}

.caixa2 {
    display: flex;
    flex-direction: row-reverse;
    margin-left: 670px;
}

.caixa3{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}

.caixa3 .caixaTexto {
    display: flex;
    flex-direction: column;
    font-family: dejavu sans mono;
    color: antiquewhite;
    font-weight: 800;
    margin-left: 20px;
    justify-content: center;
    background-color: #291a30;
}


.caixa4{
    margin-top: 60px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 25px;
}


.caixa4 .caixaTexto {
    display: flex;
    flex-direction: column;
    font-family: dejavu sans mono;
    color: antiquewhite;
    font-weight: 800;
    margin-right: 20px;
    justify-content: center;
    background-color: #291a30;
}

.caixa5{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
}

.caixa5 img {
    margin-top: 15px;
}

.caixa5 .caixaTexto {
    display: flex;
    flex-direction: column;
    font-family: dejavu sans mono;
    color: antiquewhite;
    font-weight: 800;
    margin-left: 20px;
    justify-content: center;
    background-color: #291a30;
}

.caixa6{
    margin-top: 10px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 25px;
}


.caixa6 .caixaTexto {
    display: flex;
    flex-direction: column;
    font-family: dejavu sans mono;
    color: antiquewhite;
    font-weight: 800;
    margin-right: 20px;
    justify-content: center;
    background-color: #291a30;
}

.caixa6 img{
    margin-top: 15px;
}

.caixa7{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    margin-left: 25px;
}


.caixa7 .caixaTexto {
    display: flex;
    flex-direction: column;
    font-family: dejavu sans mono;
    color: antiquewhite;
    font-weight: 800;
    margin-left: 20px;
    justify-content: center;
    background-color: #291a30;
}

.caixa7 img{
    margin-top: 25px;
}

.caixa8{
    margin-top: 5px;
    display: flex;
    flex-direction: row-reverse;
    margin-left: 25px;
    margin-bottom: 20px;
}


.caixa8 .caixaTexto {
    display: flex;
    flex-direction: column;
    font-family: dejavu sans mono;
    color: antiquewhite;
    font-weight: 800;
    margin-right: 20px;
    justify-content: center;
    background-color: #291a30;
}

.caixa8 img{
    margin-top: 15px;
}

.caixaImagem  img{
    height:250px;
    width: 450px;
    align-content: center;
}

/*footer*/
.footer {
    background-color: #100A13;
    border-top: 2px solid #98413C;
    width: 100%;
    height: 33px;
    color: white;
}

.footer .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}