body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/imagens/fundo-site.jpg);
    background-size: 1350px;

}

/*header*/
.header {
    backdrop-filter: brightness(60%);
    background-color: none;
    border-bottom: 2px solid #98413C;
    margin: 0;
    height: 50px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;

}

.header .container {
    justify-content: space-between;
}

.nome {
    color: #18B8FD;
    font-family: fantasy;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}



.container a{
    text-decoration: none;
}

.navegacao {
    display: flex;
    width: 100px;
    align-items: center;
    list-style: none;

    text-decoration: none;
    justify-content: space-between;
}

.navegacao li,
.navegacao a {
    color: #18B8FD;
    font-family: fantasy;
}


.fundo {
    display: flex;
    flex-direction: column;
}

.fundo .container {
    margin-top: 20px;
    justify-content: center;
    align-items: center;
}

.textoImagens {
    font-family: fantasy;
    color: #98d9f5;
    font-size: 20px;
    display: flex;
    flex-direction: row;
    margin-left: 540px;
    margin-top: 8px;
    height: 10px;
}

.caixaImagens{
    display: flex;
    flex-direction: row;
}

.caixaImagens2{
    display: flex;
    flex-direction: row;
    margin-top: 0;
}
.caixaImagens3{
    display: flex;
    flex-direction: row;
    margin-top: 0;
}

.caixa{
    padding: 1px;
    
}

.caixa img{
    width: 100px;
    height: 160px;
}

.botaoValidar {
    color: white;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 2px solid #48147d;
    border-radius:15px ;
    height: 30px;
    width: 90px;
    background-color: #69526E;
    cursor: pointer;
    transition-duration: 2s;
    
}

.botaoValidar:hover {
    background-color: #48147d;
    color: white;
    transform: scale(1.2)
}




.filmes {
    color: white;
    border: 1px;
    background: none;
    transition-duration: 0.5s;
    cursor: pointer;
}

.filmes:hover {
border: 1px #18B8FD;
color: white;
transform: scale(1.2)
}

#div_estalo {
    width: 100%;
    height: auto;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px) brightness(0.5);
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    
}