body {
    margin: 0;
    padding: 0;
    background-image: url(../assets/imagens/cadastro-login.jpg);
    background-size: 100%;
    background-color: #69526E;
}

/*header*/
.header {
    backdrop-filter: brightness(60%);
    background-color: none;
    border-bottom: 2px solid #98413C;
    margin: 0;
    height: 50px;
}

.container {
    display: flex;
    width: 80%;
    margin: auto;

}

.header .container {
    justify-content: space-between;
}

.nome {
    color: #18B8FD;
    font-family: fantasy;
    display: flex;
    align-items: center;
    margin-top: 10px;
    
}

.container a{
    text-decoration: none;
}


.navegacao {
    display: flex;
    width: 300px;
    align-items: center;
    list-style: none;
    justify-content: space-between;
    list-style: none;
}

.navegacao li,
.navegacao a {
    color: #18B8FD;
    font-family: fantasy;
}


.caixa {
    color: antiquewhite;
    font-family: monospace;
    display: flex;
    flex-direction: column;
    border: 2px solid #98413C;
    border-radius: 10px;
    padding: 30px;
    width: 170px;
    height: 320px;
    margin: 90px 500px 80px 200px;
    align-content: center;
}
    
.frase {
    text-align: center;
    margin-bottom: 20px;
}

input {
    align-self: center;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
    border: 0;
    height: 25px;
    background-color: #C98B70;
}

button {
    align-self: center;
    margin-top: 25px;
    border: 2px solid #48147d;
    border-radius:15px ;
    height: 30px;
    width: 90px;
    background-color: #69526E;
    color: white;
    cursor: pointer;
    transition-duration: 2s;
    
}

button:hover {
    background-color: #48147d;
    color: white;
    transform: scale(1.2)
  }

/* .button01{
    background-image: linear-gradient(to left, #911515 40%, rgb(8, 8, 83) 60%, #16076b );
    color: white;
    border-radius: 10px;
    width: 8vw;
    height: 6vh;
    cursor: pointer;
    border: 2px solid white;
    transition-duration: 2s;
  } */





/*footer*/
.footer {
    background-color: #100A13;
    border-top: 2px solid #98413C;
    width: 100%;
    height: 33px;
    color: white;
    display: flex;
    margin-top: 115px;
}

.footer .container{
    justify-content: center;
    align-items: center;
    height: 100%;
}